/* Estilo GERAL */

body
 {
   background-color: #116688;
color: #EEEE22;
font-size: 16px;
font-family: "Lora",georgia,serif;
}

a:link       { color: #FFFF22; text-decoration: none;}
a:visited    { color: #DDDD22; text-decoration: none;}

ol, ul {line-height: 200%;}

/* Estilo SEÇÕES */

header{ display: block; margin-bottom: 1px; }
nav { display: block; width: 18%; float: left; }
section { display: block; width: 70%; float: right; }

/* Estilo HEADER */

.ender {
    text-align: right;
    font-size: 14px;
    line-height: 140%;
    float: right;
    }

.imgLogo {
    margin-top: left;
    border-bottom: 3px solid;
    margin-bottom: 4px;
    padding-bottom: 5px;
    }
    
/* Estilo NAV */

nav {
    margin-right: 10px;
    font-family: "Rubik",verdana,san-serif;
}

nav ul {
    line-height: 230%;
    color: #FFDD22;
    margin-top: 40px;
    list-style-type: square;
}

/* Estilo SEÇÃO APRESENTAÇÃO */

.apres {
    text-align: center;
    font-size: 18px;
    }

/* Estilo SEÇÃO MEMÓRIAS */

.Titulo {
    text-align: center;
    
}
div.listaMemo {
    width: 380px;
/*Tive que alterar de 340px como pedido no ex. para o 380px para que a ultima linha não ficasse fora do enquadramento.*/


    color: #AA0000;
    background-color: #EEEEEE;
    padding: 10px 50px 10px 10px;
/*Tive que alterar de 10px 10px 10px 50px pedido no ex. para que ficasse igual ao modelo apresentado na questão (texto mais alinhado à esquerda).*/


    border: 4px solid;
    border-color: #000055;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
ol{
    list-style-type: decimal;
    font-family: "Rubik", Verdana, sans-serif;
}
ul{
    color: #114455;
    list-style-type: disc;
}
.preco {
    color: #EE0000;
    font-weight: bold;
    vertical-align: middle;
}

/* Estilo SEÇÃO HDs e SSDs */

.tabDisco {
    border-collapse: collapse;
    margin-top: 6px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    color: #000066;
    font-family: "Rubik", verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}
td, th {
    border: 3px solid #226699;
    padding: 6px 12px 6px 12px;
}
table .titulo {
    color: #FFFF00;
    background-color: #229955;
    font-style: bold;
    text-align: center;
    font-size: 16px;
}
.linTH {
    color: #FFFFFF;
    background-color: #22BB66;
    vertical-align: middle ;
    text-align: center;
}
.colTH {
    color:#FFFFFF;
    background-color: #2299DD;
    text-align: left;
}
.imgDisco {
    width: 70px;
    height: 70px;
}

/* Estilo SEÇÃO FORMULÁRIO */

.FormBox {
    width: 520px;
    background-color: #33BBBB;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    border: 3px solid #EEEE22;
}

/*Posicionamento e Tamanho de Fieldsets */

.FSLinhaInteira {
    size: 100%;
    color: white;
    width: 490px;
    text-align: left;
}
.FSColEsq {
    width: 210px;
    text-align: left;
    float: left;
}
.FSColDir {
    width: 210px;
    text-align: left;
    float: right;
}
/*Posicionamento e Tamanho de Boxes Internas dos Fieldsets */

.LinhaForm {
    margin: 0px;
    height: 30px;
    padding: 6px 3px 0px 3px;
}
.ColEsq {
    width: 180px;
    float: left;
    display: block;
   }
.ColDir {
    width: 180px;
    float: right;
    display: block;
   }
.LabBox {
    width: 80px;
    float: left;
    display: block;
}
div.botoes {
text-align: right;
margin: 20px 10px 0px 10px;
}

/*Tamanho de Elementos de Entrada de Valores */

input.InpBoxGnd {
    width: 384px;
    float: right;
    display: block;
}
input.InpBoxMed {
    width: 80px;
    float: right;
    display: block;
}
input.numDD {
    width: 50px;
    }
.numQD {
    width: 70px;
}
/*Foi necessário alterar as larguras de numDD e numQD para melhor enquadramento na fieldset.*/


/* Modificador da classe Linha Form */
#linhaEnder {
    height: 50px;
    display: flex;
    }
/*Foi necessário colocar o display: flex para enquadramento do endereço na fieldset*/

/* Modificador da classe InpBoxGnd */
#inpEnder {
    width: 384px;
    height: 80%;
    margin-left: 35px;
    }
/*Foi necessário alterar a width para 384px e height 80% para melhor enquadramento na fieldset.*/

/* Identificadores da Página de Compras */
#loginCad {
    width: 260px;
}
#idEmail {
    width: 160px;
}
#senhaCad {
    width: 180px;
}
#lisSelProd {
    width: 370px;
}
#selProduto {
    width: 75%;
}
#btnIncluir {
    width: 70px;
}
#boxPedidos {
    height: 100px;
}
#lisPedArea {
    height: 90%;
    width: 100%;
}
#fsBandeira {
    width: 80px;
    text-align: left;
}
#numCartao {
    width: 350px;
    height: 35px;
    padding-top: 10px;
}
#valCartao {
    width: 230px;
    height: 35px;
}
#boxParcel {
    width: 230px;
    height: 30px;
}










